#wd-signin-screen {
  width: 300px;
}

#wd-profile-screen {
  width: 300px;
}
#wd-signup-screen {
  width: 300px;
}
.list-group-item-border {
  color: red;
  border-left: 2px black solid; /* Ensure there's a semicolon */
}



#wd-account-navigation .list-group-item-border.active {
  border-left: 2px solid black; /* Use your desired styles */
}